<footer class="site-footer navbar navbar-default">

    <div class="container">

        <div class="address">
            <div class="row">

                <div class="col-md-10">
                    <address>
                        <strong>LAC Analysis & Behavior Lab.</strong><br>
                        LAC Univ. · Los Angeles<br>
                        Office · 8020, 2F<br>
                        <abbr title="Email">E:</abbr>
                        <a href="mailto:YOUR_EMAIL@gmail.com">YOUR_EMAIL@gmail.com</a>
                    </address>
                </div>

                <div class="col-md-2">
                    <strong>Find us on</strong>
                    <ul class="social-media-list">
                        {% if site.github_username %}
                        <li>
                            {% include icon-github.html username=site.github_username %}
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>

        <div class="copyright row">
            &copy; 2026 LAC Analysis & Behavior Lab. · LAC Univ.
        </div>

    </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
