<footer class="site-footer navbar navbar-default">

    <div class="container">

        <div class="address">
            <div class="row">

                <div class="col-md-10">
                    <address>
                        <strong>LAC Analysis &amp; Behavior Lab.</strong><br>
                        LAC Univ.<br>
                        Office · 7220, 4F<br>
                        <abbr title="Email">E:</abbr>
                        <a href="mailto:LacUniv.Lab@gmail.com">LacUniv.Lab@gmail.com</a>
                    </address>
                </div>

                <div class="col-md-2">
                    <strong>Find us on</strong>
                    <ul class="social-media-list">
                        <li>
                            <a href="https://github.com/LAC-Univ-LAB" target="_blank">
                                {% include icon-github.html username="LAC-Univ-LAB" %}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="copyright row">
            &copy; LAC Analysis &amp; Behavior Lab. · LAC Univ.
        </div>

    </div>
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
