<h4 class="news">LAC News</h4>

<div class="lac-news">

  <p>
    <span class="post-meta">Aug 25, 2026</span><br>
    <a class="post-link"
       href="https://www.lac.gg/posts"
       target="_blank">
      2026-08-25 Patch Notes
    </a>
  </p>

  <p>
    <span class="post-meta">Aug 1, 2026</span><br>
    <a class="post-link"
       href="https://www.lac.gg/posts"
       target="_blank">
      2026-08-01 Patch Notes
    </a>
  </p>

  <p>
    <span class="post-meta">Jul 24, 2026</span><br>
    <a class="post-link"
       href="https://www.lac.gg/posts"
       target="_blank">
      2026-07-24 Patch Notes
    </a>
  </p>

  <p>
    <span class="post-meta">Jul 10, 2026</span><br>
    <a class="post-link"
       href="https://www.lac.gg/posts"
       target="_blank">
      2026-07-10 Patch Notes
    </a>
  </p>

  <p>
    <a href="https://www.lac.gg/posts"
       target="_blank">
      View all LAC news →
    </a>
  </p>

</div>
